/*#etu, #com, #form {
    background-color: #222222;
    border-color: #080808;
}

#exp, #int {
    
}

.navbar-inverse {
    background-color: #444444;
    border-color: #080808;
} */

section{
    padding-top: 150px;
    height: 100%;
}

.form-control {
    width: 70%;
}

.glyphicon {
    padding-left: 20px;
}

.panel {
    margin-bottom: 0px;
}

canvas {
    width: 50%!important;
    height: 50%!important;
}

nav {
    z-index: 99;
}

.panel-perso {
    color: #ffffff;
    background-color: #2196F3;
    border-color: #0D47A1;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10%;
}

.gmaps {
    overflow: hidden;
    width: 100%;
    height: 600px;
    border: 1px solid #0D47A1;
    margin-bottom: 50px;
}
