section{
    padding-top: 150px;
    height: 100%;
}

.form-control {
    width: 70%;
}

.glyphicon {
    padding-left: 20px;
}

.panel {
    margin-bottom: 0px;
}

canvas {
    width: 50%!important;
    height: 50%!important;
}

nav {
    z-index: 90;
}

.panel-perso {
    color: #ffffff;
    background-color: #2196F3;
    border-color: #0D47A1;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10%;
}

#cboxClose, #cboxNext, #cboxPrevious, #cboxCurrent {
    border: 1px;
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
    align-content: center;
}

#mark {
    padding-bottom: 300px;
}